* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'popins', sans-serif;
}

body {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(LOGOTIPOS\ DE\ DOORMASTER/LOGO2.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header{
    background: linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),url(LOGOTIPOS\ DE\ DOORMASTER/LOGO3.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #85cbeb;
    transform: scale(1.1);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;

    margin-bottom: 35 px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250PX;
    margin-bottom: 25PX;
}

.submenu {
    display: none;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 50) 10%, rgba(0, 0, 255, 0));
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu .navbar ul li:hover .submenu {
    display: block;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #193685;
    color: #F9FAFC;
    text-transform: uppercase;
    border-radius: 30px;
}


.btn-1:hover{
    background-color: #85cbeb;
}

.titulo {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    line-height: 80px;
    color: #fffDFC;
}



.slider-box {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box ul li {
    margin: 0 10px;
    
}

.slider-box img {
    width: 200px; 
    object-fit: cover;
    border-radius: 40px;
}

.footer{
    padding: 100px 0 70PX 0;
    background-color: #000000;
    text-align: center;
}

.footer-content{
    display: flex;
    justify-content: center;
}

.link h3{
    font-size: 30px;
    color: #F9FAFC;
    margin-bottom: 30px;
}

.link a{
    font-size: 20px;
    color: #C5C5C5;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.link a img {
    width: 50px;
    background: none;
    border-radius: 50%;
}

.link a img:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }

.link a:hover {
    color: #85cbeb;
    opacity: 0.7;
    transform: scale(1.1);
}

@keyframes slide {
    0% {margin-left:  0;}
    20% {margin-left: 0;}

    25% {margin-left:  -100%;}
    45% {margin-left: -100%;}
}