@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('LOGOTIPOS DE DOORMASTER/LOGO3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-content h1 {
    font-size: 55px;
    line-height: 70px;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.header-content p {
    font-size: 18px;
    color: #f3e9e9;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
}



.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
  }
  
 
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;             
}



.menu .navbar ul li {
    position: relative;
    float: left;
    background: rgba(246, 240, 240, 0.218);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3), 
                 inset 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px; 
    padding: 1px;
    z-index: 100;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px;
    color: #fffDFC;
    display: block;
    font-weight: 600;
    transition: color 1s ease, transform 1s ease;
}

.menu .navbar ul li a:hover {
    color: #e6e4e47b;
    transform: scale(1.1);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    display: none;
    position: absolute;
    background: linear-gradient(to top, #000, #383838);
    box-shadow: 0px 2px 1000px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: auto;
    min-width: 220px;
    max-width: 90vh;
    white-space: nowrap;
    
}

.submenu li {
    opacity: 0;
    transform: translateY(-10px);
    animation-fill-mode: forwards;
}

.menu .navbar ul li:hover .submenu {
    display: block;
}

.menu .navbar ul li:hover .submenu li:nth-child(1) {
    animation: slideIn 0.5s ease-in-out 0.1s forwards;
}

.menu .navbar ul li:hover .submenu li:nth-child(2) {
    animation: slideIn 0.5s ease-in-out 0.3s forwards;
}

.menu .navbar ul li:hover .submenu li:nth-child(3) {
    animation: slideIn 0.5s ease-in-out 0.5s forwards;
}

.menu .navbar ul li:hover .submenu li:nth-child(4) {
    animation: slideIn 0.5s ease-in-out 0.7s forwards;
}

.general {
    display: flex;
    flex-wrap: wrap;
}

.general-1 {
    width: 50%;
    padding: 80px 20px;
    background: linear-gradient(to right, #000, #0044cc);
    color: #fff;
    text-align: center;
}

.general-1 h2 {
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.general-1 p {
    font-size: 18px;
    margin: 20px 0 40px;
}

.general-2, .general-3, .general-4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    min-height: 800px;
}

.general-2, .general-3, .general-4 {
    display: flex;
    flex-wrap: wrap;
}

.general-2 img, .general-3 img, .general-4 img {
    flex: 1;
    height: 90px 90px;
    width: 50%;
}

.swiper {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(LOGOTIPOS\ DE\ DOORMASTER/LOGO4.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}

.swiper {
    width: 100%;
    padding: 150px 0 50px 0;
}

.swiper-slide {
    width: 450px;
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),url(LOGOTIPOS\ DE\ DOORMASTER/LOGO3.jpeg);
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    opacity: 0.5;
    transform: scale(0.9);
   
 }

.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

.swiper-slide-inactive {
    opacity: 0.5;
    transform: scale(1);
  }


.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    z-index: 1;
}

.icons i {
    font-size: 20px;
    color: #f8e74e;
 }

.icons img {
    width: 120px;
 }

.product-content {
    display: flex;
    justify-content: space-between
 }

.product-txt {
    flex-basis: 50%;
    text-align: left;
 }

.product-txt h3
{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.product-txt p {
    font-size: 14px;
    color: #ffffff;
}

.product-img {
    flex-basis: 50%;
    text-align: right;
    background: none;
}

.product-img img {
    width: 140px;
}


.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 0.1rem solid #00fff2;
    background: rgba(246, 240, 240, 0.218);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3), 
                 inset 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: #00FFAA;
    text-decoration: none;
    margin-top: 50px;
    transition: background-color 0.7s ease, transform 0.7s ease;
    z-index: 2;
    overflow: none;
    position: relative;
}

.btn-1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(0, 34, 85), rgb(0, 82, 130), rgb(15, 170, 170), rgb(35, 100, 210));
    background-size: 300%;
    border-radius: 25px;
    transition: all 0.9s ease-in;
    z-index: -1;
}

.btn-1:hover::after {
    background-position: 100%;
    filter: blur(25px);
}

.btn-1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(14, 36, 85), rgb(21, 82, 192), rgb(54, 144, 255), rgb(18, 110, 207));
    border-radius: 25px;
    transition: all 0.9s ease-out;
    background-size: 300%;
    z-index: -1;
}

.btn-1:hover::before {
    background-position: 100%;
    filter: blur(25px);
}



.btn-1:hover{
    background-color: #dcdee099;
    transform: translateY(-3px);
}



.titulo {
    text-align: center;
    margin: 0 auto;
    margin-top: -100px;
    font-size: 30px;
    color: #ffffff;
    max-width: 1200px;
    padding: 20px;
    
}

.titulo p {
    font-size: 20px;
    color: #eeebeb;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 20px;

}

.footer {
    padding: 60px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-social h3, .link-contact h3 {
    font-size: 28px;
    margin-bottom: 20px;
    
}

.link-social a, .link-contact a {
    font-size: 26px;
    color: #ccc;
    margin-bottom: 15px;
    transition: color 1s ease, transform 1s ease;
    
}

.link-social a:hover{ 
    transform: scale(1.1);
    position: relative;
    float: left;
    
}

.link-social a.facebook:hover {
    color: #3b5998; 
}

.link-social a.instagram:hover {
    color: #e1306c; /* Instagram - rosa */
}

.link-social a.whatsapp:hover {
    color: #25d366; /* WhatsApp - verde */
}

.link-contact a:hover {
    color: #16bae3c0;
    transform: scale(1.1);
}

.link-social ul {
    display: flex;
    gap: 15px;
}

.link-social li {
    margin-right: 20px;
}

.link-social a i {
    font-size: 35px;
    margin-right: 10px;
  }

  


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide {
    0% {margin-left:  0;}
    0% {margin-right: 0;}
    100% {margin-left: -300%;}
    100% {margin-right: -300%;}
}

@media(max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu label {
        display: block;
    }

    .menu .navbar {
        top: 100%;
        display: none;   
    }

    .menu .navbar ul li a {
        font-size: 10px;
        
    }

    #menu:checked ~ .navbar {
        display: flex;
    }

    .menu .navbar ul li:hover .submenu {
        display: block;
    }

    .submenu {
        width: 100%;
        max-width: none;
        position: absolute;
        top: 100%;
        padding: 10px;
        
    }

    .header {
        min-height: 50vh;
        padding: 30px 0;
        background-size: cover;
        background-position: top center;
    }
    
    .header-content h1 {
        font-size: 20px;
        line-height: 1.1em;
        padding: 1.5rem;
        
       
    }

    .header-content p {
        font-size: 16px;
        padding: 0 20px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
    }

    .general-2, .general-3, .general-4 {
        width: 100%;
        height: 200px;
    }

    .general-2, .general-3, .general-4 {
        display: none;
    }

    .general-1 h2 {
        font-size: 40px;
    }

    .general-1 p {
        font-size: 16px;
    }

    .titulo {
        font-size: 22px;
    }

    .titulo p {
        font-size: 16px;
    }

    .swiper-slide {
        width: 280px;
        height: 350px;
        padding: 10px;
        border-radius: 15px;
       
    }

    .product-txt {
        text-align: center;
        
    }

    .product-txt h3 {
        font-size: 16px;
        margin-top: -40px;
    }

    .product-txt p {
        font-size: 12px;
    }

    .product-img {
        text-align: center;
    }

    .product-img img {
        width: 100px;
    }

    .btn-1 {
        padding: 10px 30px;
        margin-top: 5px;
        font-size: 14px;
    }

    .footer-content {
        flex-direction: column;

    }

    .link-social, .link-contact {
        width: 100%;
        
    }

    .link-social h3, .link-contact h3 {
        font-size: 1rem;
    }

    .link-social ul li a, .link-contact ul li a {
        font-size: 1rem;
    }

}