<footer class="footer">
    <div class="footer-content container">
        <div class="link-social">
            <h3>Síguenos en nuestras redes sociales</h3>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=61560715505199&mibextid=ZbWKwL" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                <li><a href="https://www.instagram.com/doormasterjo" class="instagram"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="https://wa.me/+573106947033" class="whatsapp"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
            </ul>
        </div>
        <div class="link-contact">
            <h3>Contactos</h3>
            <ul>
                <li><a href="tel:3106947033"><i class="fas fa-phone"></i> 3106947033</a></li>
                <li><a href="tel:3123635652"><i class="fas fa-phone"></i> 3123635652</a></li>
                <li><a href="mailto:doormaster.jo@gmail.com"><i class="fas fa-envelope"></i> doormaster.jo@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        &copy; <span id="year"></span> Doormaster. Todos los derechos reservados.
    </div>
</footer>
